@import "tailwindcss";

/* Safelist grid utilities */
@source inline("grid grid-cols-1 grid-cols-2 grid-cols-3 grid-cols-4 grid-cols-5 grid-cols-6 grid-cols-7 grid-cols-8 grid-cols-9 grid-cols-10 grid-cols-11 grid-cols-12");
@source inline("grid-rows-1 grid-rows-2 grid-rows-3 grid-rows-4 grid-rows-5 grid-rows-6");
@source inline("gap-0 gap-1 gap-2 gap-3 gap-4 gap-5 gap-6 gap-7 gap-8 gap-9 gap-10 gap-12 gap-16 gap-20 gap-24");

@layer utilities {
  .text-white { color: white; }
  .text-black { color: black; }
  .bg-white { background-color: white; }
  .bg-black { background-color: black; }
  .bg-black\/10 { background-color: rgb(0 0 0 / 0.1); }
  .bg-black\/20 { background-color: rgb(0 0 0 / 0.2); }
  .bg-black\/30 { background-color: rgb(0 0 0 / 0.3); }
  .bg-black\/40 { background-color: rgb(0 0 0 / 0.4); }
  .bg-black\/50 { background-color: rgb(0 0 0 / 0.5); }
  .bg-white\/10 { background-color: rgb(255 255 255 / 0.1); }
  .bg-white\/20 { background-color: rgb(255 255 255 / 0.2); }
  .bg-white\/30 { background-color: rgb(255 255 255 / 0.3); }
  .bg-white\/40 { background-color: rgb(255 255 255 / 0.4); }
  .bg-white\/50 { background-color: rgb(255 255 255 / 0.5); }
  .bg-background {background-color: var(--background); }
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
